<head>
<title>The Learning Network</title>
<%= stylesheet_link_tag "learn_main", :media => "all" %>
<%= stylesheet_link_tag "reset", :media => "all" %>
<%= stylesheet_link_tag "signup", :media => "all" %>
</head>
<body>
<section id="body">
	   <div id="home">
   		<a href="/home"><img src="assets/images/home.png">
      	</a>
      	<% if user_signed_in? %>
      	<a href="/logout"><img src="assets/images/logout.png">
      	</a>
      	<% end %> 
   	   </div>
        <div id="contentop">
                <div class="imgevents"><a href="/events"><img src="assets/images/eventitle.png"/></a></div>
                <div class="imgteachlearn"><a href="/learn"><img src="assets/images/teach-nav.png"></a></div> 

            <div class="content left">
                    
                    <h1>Events</h1>

                    <div class="event">
                            <img src="assets/images/conf1.jpg">
                            <h2>March 13th: Women at the Workplace</h2>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit.<br><br>
                            <h3>Speaker: Astro-Physicist Anita Miller.</h3>
                    </div>

                    <div class="event">
                            <img src="assets/images/conf2.jpg">
                            <h2>April 8th: Fighting Everyday Sexism</h2>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit.<br><br>
                            <h3>Speaker: Feminist Icon Yi Liangxi.</h3>
                    </div>

                    <div class="event">
                            <img src="assets/images/conf1.jpg">
                            <h2>P.O.W. Anniversary Meetup</h2>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit.<br><br>
                            <h3>Speaker: Astro-Physicist Anita Miller.</h3>
                    </div>


                </div>


                <div class="content right">


                        <h1>Professional Women</h1>

                        <div class="woman">
                        <img src="assets/images/woman1.jpg">
                        <h2>L. Winterbottom</h2>
                        <p>Sed ut perspic iatis, unde omnis iste natus error sit volupt atem accusan tium dolorem que laudan tium, qui ratione volupta.</p>
                </div>
                <div class="woman">
                        <img src="assets/images/woman2.jpg">
                        <h2>Anita Miller</h2>
                        <p>Sed ut perspic iatis, unde omnis iste natus error sit volupt atem accusan tium dolorem que laudan tium, qui ratione volupta.</p>
                        </div>
                        <div class="woman">
                        <img src="assets/images/woman3.jpg">
                        <h2>Yi Liangxi</h2>
                        <p>Sed ut perspic iatis, unde omnis iste natus error sit volupt atem accusan tium dolorem que laudan tium, qui ratione volupta.</p>
                        </div>
                </div>
</div>


</section>


</body>