<head>
<title>The Learning Network</title>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
 <div id="content-holder">
   <div id="wrapper">
	 <img class="logo" src="assets/images/logo.png" >
     <br/>
   
   	  <div class="learn-btn">
      <a href="/learn"><img src="assets/images/learn.png"> 
      <p>Learn & Teach</p>
      </a>
      </div>
      
      <div class="events-btn">
      <a href="/events"><img src="assets/images/events.png">
       <p>Events</p></a>
       </div>
      
       <div class="signup-btn">
      	<a href="signup"><img src="assets/images/signup.png">
       <p>Signup</p></a></div>
      
    </div>
    <div id="footer">
  		<div class="about">
  		<a href="/about">About Us</a>
  		<a class = "contact" href="/contact">Contact Us</a>
  		</div>
  
	   <div id= "footer" class="credit">
       	<p>Pow @ 2013 copyright
            <a href=""><img class="facebook" src="assets/images/facebook.gif"></a></p>
       </div>
	</div>
</div>
</body