<title>The Learning Network</title>	
<%= stylesheet_link_tag "mainskill", :media => "all" %>
<%= stylesheet_link_tag "signup", :media => "all" %>
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>	<script type="text/javascript" src="script/menu.js"></script>      <link ></head>
<body>
<div id="wrapper">
	   <div id="home">
   		<a href="/home"><img src="assets/images/home.png">
      	</a>
      	<% if user_signed_in? %>
      	<a href="/logout"><img src="assets/images/logout.png">
      	</a>
      	<% end %> 
   	</div>
<div id="navigation">            
</div>	
<div class="left">      	      
<a href="/learn"><img class="learnlogo" src="assets/images/learntitle.png"/></a>           	
<a href="/events"><img style="float:right; margin-top:20px;" src="assets/images/event-nav.png"/></a>

<div id="menu">		<ul>			<li id="general"><b>General</b></li>			<li id="beginner">Beginner</li>			<li id="advanced">Advanced</li>			<li id="meetup">Meet Up</li>		</ul>	</div>	<div class="contents">      	<h2 style="margin-left:40px; margin-top:30px;">Computing</h2>      	<div id="content">			<h2>General information</h2>		<p>		Lorem Ipsum is simply <a href="">dummy</a> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.            </p>            <p>		Lorem Ipsum is simply dummy text of the printing and <a href="">typesetting industry</a>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.		</p> 		</div>            </div>	</div>	<div class="right">		<p><img src="assets/images/chat.gif">            Community Live Chat</p>            <div id="chat">            Hello, caroline:            </div>            <br/>            <p><img src="assets/images/FAQ.gif">Mentor FAQ</p>            <div id="chat">            Hello, caroline:            </div>	</div></div><div id="footer">      	<div class="about"><a href="about.html">About Us</a></div>             <div class="credit">       	<p>Pow @ 2013 copyright</p>      	</div>      </div></body>